div {
    width: 200px;
    height: 200px;
    background-color: #f00;
    color: #fff;
    position: relative;
    margin: 20px auto;
}

div:before {
    content: "";
    display: block;
    width: 0;
    border-width: 0 15px 15px;    /* = 0 15px 15px 15px */
    border-style: solid;
    border-color: #F00 transparent ; /* = #F00 transparent #F00 transparent */
    position: absolute;
    top: -15px;
    left: 85px;
}